<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;
        border: solid blue;
                */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h1>Sus cuentas</h1>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN - {{item.iban}}  </h3>
      <h3>Saldo - {{item.balance}}  </h3>
    </br> <!--salto de linea -->
    </template>
<!--
    <h2>la primera cuenta de el usuario [[id]] es [[iban]]</h2>
    <h3>y tiene un saldo de: [[balance]]</h3>
  -->


    </div>
    <iron-ajax auto
    id="getAccount"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
    handle-as="json"
    on-response="showData"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: String
          }, iban: {
            type: Number
          }, accounts: {
            type: Array
          }, balance: {
            type: Number
          }
        };
      }
        showData (data) {
          console.log("showData");
          console.log(data.detail.response);

          this.accounts=data.detail.response;
/*
          this.id=data.detail.response[0].id;
          this.iban=data.detail.response[0].iban;
          this.balance=data.detail.response[0].balance;
*/
        }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
