<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>Yo soy tu padre</h2>
    <!-- le pongo on-myevent, myevent es como he definido a el evento en la parte de new CustomEvent-->
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>

  </template>

  <script>

    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
          }
        };
        processEvent (e) {
          console.log("Capturado evento del emisor");
          console.log(e.detail);

          this.$.receiver.course = e.detail.course;
          this.$.receiver.year = e.detail.year;
        }
      }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
